@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    /* font-size: calc(1vw + 1vh); */
    font-size: 24px;
}


.heading {
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    padding: 1rem;
    width: 100vw;
    position: fixed;
    z-index: 1;
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main {
    box-sizing: border-box;
    padding-top: 4.5rem;
    width: 35rem;
    min-height: 70%;
}

.lib-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 1rem;
    row-gap: 1.5rem;
}

img {
    height: calc(8 * 1rem);
    width: calc(6 * 1rem);
}

.title {
    font-size: 1.8rem;
    font-weight: 300;
}

.author {
    font-size: 1.2rem;
    font-style: italic;
}

.pages {
    font-size: 0.8rem;
}

.boolean {
    font-style: italic;
    color: gray;
}

.image {
    justify-self: end;
}

.add-btn {
    margin-top: 5rem;
    font-weight: 500;
    width: 5rem;
    height: 2rem;
    font-size: 0.7rem;
    border-radius: 0px;
    border: 0px;
    position: sticky;
    top: 4.5rem;
}

.add-btn:hover {
    background-color: rgb(85, 85, 85);
    color: white;
}

::backdrop {
    background-color: rgb(235, 235, 235);
    opacity: 0.75;
}

dialog {
    border: 0px;
    border-radius: 20px;
    padding: 3rem;
}

dialog h2 {
    margin: 0px;
}

dialog .btn {
    width: 100%;
    display: flex;
    justify-content: end;
}

dialog button {
    margin-top: 2rem;
    background-color: whitesmoke;
    font-weight: 500;
    width: 5rem;
    height: 2rem;
    font-size: 0.7rem;
    border-radius: 10px;
    border: 0px;
}

dialog button:hover {
    background-color: rgb(85, 85, 85);
    color: white;
}

.close-dialog {
    margin: 0px;
    background-color: red;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.close-dialog:hover {
    background-color: brown;
}

.for-style {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 5px;
}

.for-style input {
    font-family: 'Inter', sans-serif;
    font-size: 70%;
}

dialog .head {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}


.toggle-read, .delete-book {
    font-family: 'Inter', sans-serif;
    height: 1.5rem;
    width: auto;
    border: 0px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 80%;
    margin-right: 1rem;
}

.delete-book {
    background-color: red;
}

.delete-book:hover {
    background-color: brown;
    color: white;
}

.toggle-read:hover {
    background-color: rgb(88, 88, 88);
    color: white;
}

input:invalid {
    border: 1px solid red;
}


@media screen and (max-width: 1024px) {
    :root {
        font-size: 24px;
    }

    .content {
        max-width: 90%;
    }

    dialog {
        font-size: 30px;
    }

}

@media screen and (max-width: 600px) {
    :root {
        font-size: 15px;
    }

    .content {
        max-width: 95%;
        padding: 10px;
        box-sizing: content-box;
    }

    dialog {
        font-size: 18px;
    }

}

